<%= render 'shared/navbar' %>
<div class="main-content">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading"><h1>Editing Profile</h1></div>
      <div class="panel-body">
        <%= render 'form', profile: @profile %>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
