<div class="row">
  <div>
  </div>
  <br>
  <table class="table table-striped">
    <tr>
      <th colspan="">Name</th>
    </tr>
    <% @profiles.each do |profile| %>
    <tr>
      <td><%= link_to profile.name, profile_path(profile.id) %></td>
      <td></td>
    </tr>
    <% end %>
  </table>
</div>
