<div class="row">
    <div class="col-md-3 col-sm-12">
        <img src="<%=@user.avatar_url%>" alt="Avatar" style="width: 300px; max-width: 100%;">
        <h1><%=@user.name%></h1>
        <p>User position: <%= @user.position %> </p>
    </div>
    <div class="col-md-9 col-sm-12">
        <p></p>
    </div>
</div>
