<section id="" class="">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-center">Latest posts</h2>
        <p class="">Latest posts<br>from our members.</p>
        <hr class="bottom-line">
      </div>
      <% @posts.each do |post| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="blog-sec">
          <div class="blog-img">
            <a href="">
              <img src="" class="img-responsive">
            </a>
          </div>
          <div class="blog-info">
            <h2><%= post.title %></h2>
            <div class="date">
              <p>Submitted <%= time_ago_in_words(post.created_at) %> Ago</p>
            </div>
            <p><%= post.description %></p>
            <%= link_to 'Link', post_path(post) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
