<section id="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Members</h2>
        <p>These are our members</p>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <% @users.each do |user| %>
      <div class="col-md-4 col-sm-6 col-xs-12 profile-item">
        <div class="profile-image">
          <img class="img-responsive" src="<%=user.avatar_url%>" alt="Avatar" style="width: 50 %;">
        </div>
        <br>
        <a href="" class="profile-link">
          <div class="caption">
            <%= link_to 'Profile', profile_path(user.id), class: 'btn btn-primary' %>
            <small class="author">Joined <%= time_ago_in_words(user.created_at) %> ago.</small>
          </div>
        </a>
      </div>
      <% end %>
    </div>
  </div>
</section>
