<%= render 'shared/navbar' %>

<div class="main-container">
  <div class="container">
    <%= render 'form', myskill: @myskill %>

    <%= link_to 'Back', myskills_path %>
  </div>
</div>

<%= render 'shared/footer' %>
