<% provide(:page_title, 'All posts') %>

<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>
